page-login {
  #titulo {
    color: white;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 250%;
  }
  .logo2 {
    background-image: url("../../assets/imagens/wallpaper4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .logo2{
  //   background: linear-gradient(to top, black 0%, rgb(228, 7, 7) 100%);
  //   background-color: green !important;
  // }

  #logo {
    width: 75px;
    height: auto;
    margin: auto;
  }

  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  ion-card.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
  a,
  ion-card-header.card-header {
    color: #fff;
  }

  .list > .item-block:first-child {
    border: medium none;
  }

  .item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;
    .text-input, {
			color: #fff;
		}

		input::-moz-placeholder  {
			color: #fff!important;
		}

		input:-moz-placeholder {
			color: #fff!important;
		}

		*::-webkit-input-placeholder  {
			color: #fff!important;
		}

		*:-ms-input-placeholder  {
			color: #fff!important;
		}

		*:-moz-placeholder  {
			color: #fff!important;
		}
  }
}
