page-comanda {
  .ion-md-time, .ion-ios-time{
    color: rgb(50, 50, 50) !important;
  }
  .ion-md-checkmark, .ion-ios-checkmark{
    color: green !important;
  }
  .ion-md-close, .ion-ios-close{
    color: darkred !important;
  }

  .toolbar-background {
    background-color: rgb(211, 12, 12);
  }

  .toolbar-title,
  ion-segment-button {
    color: #fff !important;
  }

  .bar-button-default {
    color: #fff;
  }

  ion-segment {
    color: #fff !important;
  }

  .buttom {
    background: rgb(211, 12, 12);
  }

  .item-inner{
    background-image: none !important;
    padding-right: 0 !important;
  }

  .button-ios.activated,
  .button-md.activated {
    background-color: rgb(211, 12, 12) !important;
  }

  #finalPage {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 20%;
  }

  .aceito {
    color: rgb(38, 179, 10);
  }

  .recusado {
    color: rgb(211, 12, 12) !important;
  }

  .caixaCarrinho {
    height: 80%;
    overflow-y: auto;
  }
  .itemCardapio {
    margin-bottom: -22px !important;
    padding: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }



}
