page-cardapio-list {
  // .input-wrapper{
  //   background-color: rgb(94, 92, 92);
  // }

  .produto{
    background: #fff !important;
  }

  .toolbar-background {
    background-color: rgb(211, 12, 12);
  }

  .segment-button{
    border-bottom-color: #fff !important;
  }

  .toolbar-title,
  ion-segment-button {
    color: #fff !important;
  }

  .bar-button-default {
    color: #fff;
  }
  ion-segment {
    color: #fff !important;
  }

  .buttom{
    margin-bottom: -22px;
    padding: 0;
    padding-right: 0;
    padding-left: 0;
  }

  // .item {
  //   border: solid #dddddd;
  //   // border-radius: 2px;
  //   // border-width: 1.5px;
  //   padding: 0 !important;
  //   // margin-bottom: auto;
// }
}
