<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cardápio</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="selectedItem">
      <ion-segment-button value="comidas">
        Comidas
      </ion-segment-button>
      <ion-segment-button value="bebidas">
        Bebidas
      </ion-segment-button>
      <ion-segment-button value="sobremesas">
        sobremesas
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Nome do produto"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div [ngSwitch]="selectedItem" >
    <ion-list *ngSwitchCase="'comidas'" >
      <button ion-item no-lines class="buttom" *ngFor="let item of comidas" (click)="moveTo(item)">
        <ion-card >
          <ion-item no-lines >
            <ion-thumbnail item-start>
              <img src="{{item.url}}">
            </ion-thumbnail>
            <h2>{{item.nome}}</h2>
            <h2 item-end>{{item.valor}}</h2>
          </ion-item>
        </ion-card>
      </button>
    </ion-list>
  </div>
  <div [ngSwitch]="selectedItem">
    <ion-list *ngSwitchCase="'bebidas'">
      <button ion-item no-lines class="buttom" *ngFor="let item of bebidas" (click)="moveTo(item)">
        <ion-card>
          <ion-item no-lines>
            <ion-thumbnail item-start>
              <img src="{{item.url}}">
            </ion-thumbnail>
            <h2>{{item.nome}}</h2>
            <h2 item-end>{{item.valor}}</h2>
          </ion-item>
        </ion-card>
      </button>
    </ion-list>
  </div>
  <div [ngSwitch]="selectedItem">
    <ion-list *ngSwitchCase="'sobremesas'">
      <button ion-item no-lines class="buttom" *ngFor="let item of sobremesas" (click)="moveTo(item)">
        <ion-card>
          <ion-item no-lines>
            <ion-thumbnail item-start>
              <img src="{{item.url}}">
            </ion-thumbnail>
            <h2>{{item.nome}}</h2>
            <h2 item-end>{{item.valor}}</h2>
          </ion-item>
        </ion-card>
      </button>
    </ion-list>
  </div>
</ion-content>
