page-perfil {
  #campos {
    font-size: 20px;
    line-height: 2;
  }

  .background {
    background: rgba(246, 248, 248, 0.685);
    background-repeat: no-repeat;
    background-size: cover;
  }

  ion-item {
    background: transparent !important;
  }

  h2 {
    color: #fff !important;
  }
  
  .itemBox {
    box-shadow: none;
    background: rgba(100, 100, 100, 0.7);
    border-radius: 5px;
  }
  
  .botao{
    width: 90%;
  }

  .avatarBox {
    box-shadow: none;
    background: none;
  }

  .avatar {
    width: 60%;
    height: auto;
  }

  .toolbar-background {
    background-color: rgb(211, 12, 12);
  }

  .toolbar-title{
    color: #fff !important;
  }

  .bar-button-default{
    color: #fff;
  }
}
