page-cardapio2 {
  ion-grid {
    text-align: center;
  }

  .produtoImagem {
    width: 300px;
    height: 250px;
  }

  .negrito {
    font-weight: bold;
  }

  /*
  ion-textarea {
    border: think solid black;
  }
  */

  .caixaGenerica {
    text-align: left;
    padding: 10px;
    border:1px solid grey;
    //box-shadow: 2px 2px 0px #888888;
  }

  .text {
    border: think solid black;
  }

  .toolbar-background {
    background-color: rgb(211, 12, 12);
  }

  .toolbar-title, ion-segment-button {
    color: #fff !important;
  }

  .bar-button-default {
    color: #fff;
  }

  ion-segment {
    color: #fff !important;
  }

  .addButtom {
    color: green;
  }
  .remButtom {
    color: rgb(180, 10, 10);
  }
  .addButtom, .remButtom {
    font-size: 25px;
  }

  .buttom {
    background: rgb(211, 12, 12);
  }
  .button-ios.activated{
    background-color: rgb(211, 12, 12) !important;
  }
  .button-md.activated{
    background-color: rgb(211, 12, 12) !important;
  }
  /* #imgcomida {
        width: 125px;
        height: 75px;
        resize: both;
        overflow: auto;
        margin: auto;
        border: 2px;
        float:left;
        background-color: grey;
        left: -20px;
    }
    #caixinha{
        width: 250px;
        height: 75px;
    }
    hr {
        background-color: grey;
        height: 1px;
        border: 0;
    }
    .alinhando{
        padding-left: 2%;
    }
    .alinharValor{
        padding-left: 15%;
    }
    #text{
        padding-left: 20%;
    }*/
}
