page-mesa {
  .background {
    background: url("../../assets/imagens/qrcode.jpg");
    width: 80%;
    height: 200px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #corpo {
    background-color: lightgray;
    width: 85%;
    height: 100%;
    margin: 0 auto;
  }

  .buttomColor{
    background: rgb(211, 12, 12);
  }

  .scroll-content {
    align-content: center;
    display: inline-block;
    justify-content: center;
    text-align: center;
  }

  #codeInput {
    margin: 0 left;
  }

  .toolbar-background {
    background-color: rgb(211, 12, 12);
  }

  .toolbar-title,
  ion-segment-button {
    color: #fff !important;
    text-align: center;
  }

  .bar-button-default {
    color: #fff;
  }
  ion-segment {
    color: #fff !important;
  }
  .button-ios.activated{
    background-color: rgb(211, 12, 12) !important;
  }
  .button-md.activated{
    background-color: rgb(211, 12, 12) !important;
  }
}
