page-mesa {
	#corpo{
		background-color: lightgray;
		width: 85%;
		height: 100%;
		margin: 0 auto;
	}
	
	#qrcode{
		background-color: gray;
		width: 80%;
		height: 150px;
		margin: 0 auto;
	}

	#codeInput{
		margin: 0 left;
	}
}
