<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhe do pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card-content>
    <img class="produtoImagem" src="{{itemPedido.produto.url}}">
    <br>
    <div class="caixaGenerica">
      <h2>{{itemPedido.produto.nome}}</h2>
      <p>{{itemPedido.produto.descricao}}</p>
    </div>
    <br>

    <div *ngIf="temAdicional(); then addBlockAdicionais"></div>
    <ng-template #addBlockAdicionais>
      <div class="caixaGenerica">
        <h2>Adicionais</h2>
        <div *ngFor="let item of itemPedido.produto.adicional">
          <div *ngIf="item.quantidade !== 0; then addBlock else removeBlock"></div>
          <ng-template no-lines #removeBlock></ng-template>
          <ng-template #addBlock>
            <ion-item no-lines>
              <div style="display: flex;">
                <div>
                  {{ item.nome }} (R$ {{ item.valor | number:'1.2-2' }})
                </div>
                <div style="margin-left: auto">
                  (X{{item.quantidade}})
                </div>
              </div>
            </ion-item>
          </ng-template>
        </div>
      </div>
      <br>
    </ng-template>
    <div *ngIf="itemPedido.obs.length > 0; then addBlockObs"></div>
    <ng-template #addBlockObs>
      <div class="caixaGenerica">
        OBS: {{itemPedido.obs}}
      </div>
      <br>
    </ng-template>
    <button class="recusa" (click)="recusar()">
      <ion-icon item-end name="close" md="md-close" ios="ios-close" class="aceito"></ion-icon>
    </button>
    <button class="confirma" (click)="confirmar()">
      <ion-icon item-end name="checkmark" md="md-checkmark" ios="ios-checkmark" class="aceito"></ion-icon>
    </button>
  </ion-card-content>
</ion-content>
