<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align="center">
    <img class="produtoImagem" src="{{itemPedido.produto.url}}">
  </div>
  <br>
  <div class="caixaGenerica">
    <h2 style="text-align: center">{{itemPedido.produto.nome}}</h2>
    <p>{{itemPedido.produto.descricao}}</p>
  </div>
  <br>

  <div *ngIf="temAdicional(); then addBlockAdicionaisStart"></div>
  <ng-template #addBlockAdicionaisStart>
    <div class="caixaGenerica">
      <form>
        <div *ngFor="let item of itemPedido.produto.adicional">
          <div *ngIf="item.quantidade !== 0; then addBlockAdicionais"></div>
          <ng-template #addBlockAdicionais>
            <h2 style="text-align: center">
              Adicionais
            </h2>
            <ion-item no-lines>
              <div style="display: flex;">
                <div>
                  {{ item.nome }} (R$ {{ item.valor | number:'1.2-2' }})
                </div>
                <div style="margin-left: auto">
                  (X{{item.quantidade}})
                </div>
              </div>
            </ion-item>
          </ng-template>
        </div>
      </form>
    </div>
    <br>
  </ng-template>
  <div *ngIf="itemPedido.obs.length > 0; then addBlockObs"></div>
  <ng-template #addBlockObs>
    <div class="caixaGenerica">
      OBS: {{itemPedido.obs}}
    </div>
    <br>
  </ng-template>

  <div *ngIf="!isUndefined(itemPedido.respostaCozinha); then addBlockStatus"></div>
  <ng-template #addBlockStatus>
    <div *ngIf="isNumber(itemPedido.respostaCozinha); then addBlockConfirmado else addBlockCancelado"></div>
    <ng-template #addBlockConfirmado>
      <div class="caixaGenerica">
        Previsão de entrega: {{itemPedido.respostaCozinha}} minutos
      </div>
    </ng-template>
    <ng-template #addBlockCancelado>
      <div class="caixaGenerica">
        {{itemPedido.respostaCozinha}}
      </div>
    </ng-template>
  </ng-template>

  <h4 style="text-align: center;">TOTAL: R$ {{ itemPedido.valor | number:'1.2-2' }}</h4>
  <br>
  <div *ngIf="itemPedido.status !== 1; then addBlockBotao"></div>
  <ng-template #addBlockBotao>
    <div align="center">
      <button ion-button class="buttom" (click)="showConfirm()">Cancelar Pedido</button>
    </div>
  </ng-template>
</ion-content>