page-carrinho {
  #finalPage {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 75px;
  }
  #botaoAdd {
    position: absolute;
    bottom: 10%;
    // margin-bottom: 10px;
    // margin-left: 1000px;
  }

  .toolbar-background {
    background-color: rgb(211, 12, 12);
  }

  .toolbar-title,
  ion-segment-button {
    color: #fff !important;
  }

  .bar-button-default {
    color: #fff;
  }
  ion-segment {
    color: #fff !important;
  }
  .buttom {
    background: rgb(211, 12, 12);
  }
  .button-ios.activated{
    background-color: rgb(211, 12, 12) !important;
  }
  .button-md.activated{
    background-color: rgb(211, 12, 12) !important;
  }
  .excluir{
    color: rgb(0, 0, 0) !important;
  }
}
