page-cardapio {

    /* #imgcomida {
        width: 125px;
        height: 75px;
        resize: both;
        overflow: auto;
        margin: auto;
        border: 2px;
        float:left;
        background-color: grey;
        left: -20px;
    }*/

}
